body {
    margin: 0;
}

#wrapper {
    width: 100vw;
    height: 100vh;
    background: radial-gradient(circle at center, #2b2b2b 0, #000000, #2b2b2b 100%);
    overflow: hidden;
}

#wrapper #renderer {
    width: 100%;
    height: 100%;
}